.header {
  font-family: 'Roboto Slab', serif;
  text-align: left-side;
  text-indent: 10px;
  background-color: #be2525;
  color: white;
  border: 2px black;
  border-radius: 3px;
  margin: auto;
  width: 300px;
  height : 40px ;
  vertical-align: middle;
  line-height: 40px; 
}

.roh {
	font-family: 'Roboto Slab', serif;
	background-color : #F0EBEB;
	text-align: left-side;
	text-indent: 15px;
	color : red ; 
	border: 2px black;
	border-radius: 3px;
	margin: auto;
	width: 300px;
	height : 40px ;
	line-height: 40px; 
	clear:both ;

}

.posts {
	
	font-family: 'Roboto Slab', serif;
	background-color : #F0EBEB;
	text-align: left;
	text-indent: 5px;
	border: 2px black;
	border-radius: 2px;
	margin: auto;
	width: 300px;
	height : auto;
	line-height: 40px; 
	font-size: 15px;
	line-height: 20px;
	
}

.texts {
	color : black ;
	font-weight: bold;
	letter-spacing: 1px;
	margin-left:1em;
}


.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
	

.time {
	font-weight:lighter;
	color : black ;
	
}

#myBtn {
  display: none;
  font-family: 'Roboto Slab', serif;
  position: fixed; 
  bottom: 20px; 
  right: 610px;
  z-index: 99;
  border: 2px solid black;
  background-color: #E6D7D7; 
  color: red; 
  cursor: pointer; 
  
  width: 300px;
  height : 40px ;
  border-radius: 2px; 
  font-size: 18px;
  
}

#myBtn:hover {
  background-color: #B3ABAB; 
}